@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url(./fonts/OpenSans-Regular.ttf) format("truetype");
}
body {
  margin: 0 auto;
  max-width: 2400px;
  font-family: "Open Sans";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
  text-decoration: none;
}
